.main{
    width: 200px;
    display: flex;
    flex-direction: row;
}

#calculatorForm{
    min-width: 300px;
    order: 1;
}

#expression{
    order: 3;
    min-width: 300px;

}

#previousOperations{
    order: 2;
    min-width: 300px;
}

#result{
    font-size: 40px;
}
